---
import Layout from '../layouts/BlogPost.astro';
import '@fontsource-variable/readex-pro';

---

<Layout
	title="من انا؟"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 28 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		 اهلاً! انا فيصل الثويني, طالب هندسة برمجيات في جامعة حائل, مبرمج واجهات مواقع ومصمم جرافيكس, 
		 مصمم في نادي الأمن السيبراني و نادي الذكاء الاصطناعي
		 قائد فريق التصميم في نادي قوقل للطلبة المطورين في جامعة حائل,
		
		اشتغلت في التشغيل الطلابي لجامعة حائل كمصمم لمدة سنة.
	</p>
	
	<p>
		حالياً في طور تعلم الجافا سكريبت المتقدمة وبعدها بإذن الله راح اتعلم على الرياكت والباك اند,
		هدفي في هذا المجال اني اقدر ابني تطبيقات ويب متكاملة.
	</p>
	
</Layout>
